* {
    margin: 0;
    padding: 0;
    background-color: #E3E9FF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

.container {
    width: 350px;
    margin: 50px auto;
}